<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73006014911-fg1s9ei4q8vcgu0u6r8jluhosqies77e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73006014911-fg1s9ei4q8vcgu0u6r8jluhosqies77e</string>
	<key>API_KEY</key>
	<string>AIzaSyBqDxsIj90l8uOaOIG9xqYgOKry9nN8tvg</string>
	<key>GCM_SENDER_ID</key>
	<string>73006014911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daguin-jsebastien.MyNews</string>
	<key>PROJECT_ID</key>
	<string>mynews-b04cb</string>
	<key>STORAGE_BUCKET</key>
	<string>mynews-b04cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73006014911:ios:3b88620613845f737a410a</string>
</dict>
</plist>